{% extends 'layout.html' %}
{% load static %}

{% block content %}

    <style type="text/css">
    .text-zt{
        font-family: Blackadder ITC;
    }

    </style>

<div class="container">

    <div>
        <div class="text-zt">
            <h1>Welcome To The Wedding Managementment System</h1><br/><br/><br/>
            <h2>欢迎来到我们的婚庆管理平台</h2><br/>
            <h2>祝大家：</h2><br/>
            <h3>身体健康，平安喜乐</h3><br/>
            <h3>家庭和睦，万事胜意</h3><br/>
            <h3>考试必过！</h3><br>
        </div>
    </div>
</div>




{% endblock %}